.global-logo {
    background-image: url("./medical-logo.svg");
    width: 12.5rem;
    height: 3.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
}

.login-link, .login-link:focus {
    box-shadow: none;
    border: none;
}